$color : (
	facebook : #3b5999,
	google : #cb4023,
	twitter : #5aa3eb,
	mobile : #333333
);

@function color($color-name){
	@return map-get($color, $color-name)
};
.user_login{
	margin: 20px auto;
	text-align: center;
	h1{
		color : brown;
	}
}

.login{
	height: calc(100vh - 60px);
	
	.login_center{
		max-width: 300px;
		width: 80%;
		i{
			top: 50%;
			left: 30px;
			transform: translate(-50%,-50%);
			position: absolute;
		}
	}
}
.Google{
	background: linear-gradient(45deg,#fff 50%,color(google) 50%);
	border: 2px solid color(google);
}
.Google::after{
	background: linear-gradient(40deg, color(google) 50% , transparent 50%);
}
.Google:hover,.Google:hover::after{
	color: color(google);
}
.Facebook{
	background: linear-gradient(45deg,#fff 50%,color(facebook) 50%);
	border: 2px solid color(facebook);
}
.Facebook::after{
	background: linear-gradient(40deg, color(facebook) 50% , transparent 50%);
}
.Facebook:hover,.Facebook:hover::after{
	color: color(facebook);
}
.Twitter{
	background: linear-gradient(45deg,#fff 50%,color(twitter) 50%);
	border: 2px solid color(twitter);
}
.Twitter::after{
	background: linear-gradient(40deg, color(twitter) 50% , transparent 50%);
}
.Twitter:hover,.Twitter:hover::after{
	color: color(twitter);
}
.Mobile{
	background: linear-gradient(45deg,#fff 50%,color(mobile) 50%);
	border: 2px solid color(mobile);
}
.Mobile::after{
	background: linear-gradient(40deg, color(mobile) 50% , transparent 50%);
}
.Mobile:hover,.Mobile:hover::after{
	color: color(mobile);
}
.platform {
	height: 50px;
	width: 100%;
	padding: 8px 16px;
	margin: 20px auto;
	border-radius: 4px;
	display: flex;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	color: white;
	.logo_width{
		width: 40px;
	}
}
.down50{
	top: 50%;
	left: 60px;
	transform: translateY(-50%);
	position: absolute;
}
.platform::after{
	content: "";
	position:absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	z-index: -1;
}
.platform,.platform::after{
	background-size: 300%;
	background-position: 100%;
	transition: 1s,font-size .3s,font-weight .3s;
}
.platform:hover,.platform:hover::after{
	background-position: 0;
	font-size: 25px;
	font-weight: 600;
}




.mob_log{
	height: calc(100vh - 60px);
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	// position: absolute;
	text-align: center;
	.mob_log_header{
		// margin: 160px auto;
		h3{
			padding: 80px 0 40px;

		}
	}
}
.mob_log .ant-input-group{
	margin-bottom: 20px !important;
}
.otp_input{
	height: 30px;;
	width: 30px;
	background-color: #5aa3eb;
	outline: none;
	border: none;
	margin: 20px;
	font-size: 30px;
	text-align: center;
	color: transparent;
  text-shadow: 0 0 0 black;
}



.partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  min-width:220px;
}
.divInner{
  left: 0;
  // position: sticky;
}
.divOuter{
  width:190px; 
  overflow:hidden
}